html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

body {
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}
